* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #000;
  color: #FFF;
  overflow: hidden;
  font-size: 20px;
  font-family: "Liberation Sans", Arial, sans-serif;
}
body.debug {
  background-color: red;
}

canvas {
  display: none;
}
.playing canvas {
  cursor: none;
}
body.mouse-alive canvas {
  cursor: default;
}

#gameCanvas {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  image-rendering: pixelated;
}
.firefox #gameCanvas {
  image-rendering: crisp-edges;
}

#radarCanvas {
  display: block;
  position: absolute;
  top: 2px;
  left: 2px;
  border-radius: 200px;
  border: 2px solid #4E4;
  border-radius: 200px;
  box-shadow: 0 0 30px #000;
  background: rgba(0,0,0,0.5);
}

#fps {
  position: absolute;
  right: 10px;
  bottom: 10px;
  font-family: monospace;
  font-size: 20px;
  color: #FFF;
  display: none;
}
.debug #fps {
  display: block;
}

#msgList {
  position: absolute;
  top: 5px;
  right: 10px;
  text-align: right;
}
#msgList > div {
  position: relative;
  top: 0px;
  left: 0px;
  padding: 3px 0;
  line-height: 20px;
  opacity: 1;
  transition: 1.5s, top 1s 0.5s, padding 1s;
}
#msgList > div.new {
  top: 200px;
  left: -300px;
  opacity: 0;
  transform: scale(2);
  opacity: 0.1;
}
#msgList > div.remove {
  padding: 0px;
  opacity: 0.1;
  line-height: 0px;
}
#msgList > div.remove .logmsg {
  transition: 1.5s;
  padding: 0px 6px;
  color: rgba(255,255,255,0.1);
}

.logmsg {
  display: inline-block;
  white-space: nowrap;
  padding: 8px 6px;
  border-radius: 10px;
  background: rgba(0,100,255,0.333);
  box-shadow: inset 0 0 15px rgba(0,255,255,0.333);
  color: #FFF;
  text-shadow: 0 0 5px #FFF;
  font-size: 20px;
  overflow: hidden;
}
.logmsg span {
  margin: 0 6px;
}

.logmsg.chat {
  background: rgba(120,120,120,0.333);
  box-shadow: inset 0 0 15px rgba(200,200,200,0.333);
  font-size: 15px;
}
.logmsg.chat span:first-child {
  letter-spacing: -1px;
  text-shadow: 0 0 3px #000;
}

.logmsg.error {
  background: rgba(200,0,0,0.5);
  box-shadow: inset 0 0 15px rgba(255,0,0,0.5);
}
.logmsg.error span:first-child {
  font-weight: bold;
}

#lobby {
  position: absolute;
  top: 10vh;
  left: calc(50vw - 400px);
  width: 800px;
  padding: 40px 50px;
  border: 10px solid #8F8;
  border-radius: 40px;
  box-shadow: 0 0 30px #0F0, inset 0 0 30px #0F0;
  background: linear-gradient(rgba(0,0,0,0.7), rgba(0,150,0,0.6), rgba(0,0,0,0.7));
  background-size: 100% 8px;
  text-shadow: 0 0 10px rgba(0,255,0,0.9);
  transition: 3s;
}

#lobby.hidden {
  transform: rotate(360deg);
  top: -90vh;
}

h1 { text-shadow: 0 0 16px #0F0, 0 0 16px #0F0; }
h1, h2 { margin-bottom: 10px }

#roomsList {
  max-height: 55vh;
  overflow: auto;
  margin: 0 -60px 20px -60px;
  filter: drop-shadow(0 0 12px rgba(0,255,0,.8)) drop-shadow(0 0 12px rgba(0,255,0,.8));
  text-align: center;
}
.lobby2 #roomsList {
  margin-bottom: 0;
}
#roomsList p {
  text-align: left;
  padding: 0 60px;
}
#roomsList a {
  display: block;
  display: inline-block;
  margin: 10px;
  padding: 10px 0px;
  background: rgba(0,255,0,0.4);
  border-radius: 12px;
  color: #050;
  text-decoration: none;
  width: 208px;
}

#players span {
  opacity: 0.5;
}
#players span.conn {
  opacity: 1;
}

#lobby label {
  margin-right: 1em;
}

#inputNum {
  border: none;
  border-top: 3px solid #0C0;
  border-bottom: 3px solid #0C0;
  font-size: 1em;
  background: rgba(0,255,0,0.2);
  padding: 1px 0;
  text-align: center;
  width: 2em;
  border-radius: 5px;
  color: #FFF;
}

#btCreateRoom {
  margin: 10px 0 0 5px;
  padding: 10px 25px;
  border-radius: 2em;
  border: 5px solid rgba(0,255,0,0.7);
  border: none;
  box-shadow: inset 0 0 20px #0F0;
  background: rgba(0,130,0,0.7);
  font-size: 1em;
  color: #CFC;
  text-shadow: 0 0 10px #0F0;
  font-weight: bold;
  cursor: pointer;
}

#connStatus {
  position: absolute;
  display: table;
  left: 10px;
  bottom: -50px;
  padding: 15px;
  min-width: 600px;
  border-radius: 25px 25px 0 0;
  background: rgba(0,0,0,0.5);
  font-size: 14px;
}
.lobby2 #connStatus {
  bottom: 0px;
  transition: 2s;
}

#connStatus div {
  display: table-row;
}
#connStatus div > span {
  display: table-cell;
  padding: 5px;
}

#roomsList #chatNote {
  text-align: right;
  font-size: 12px;
}
